<header id="header" class="header">
    <div class="header-container">
        <div class="navbar">
            <a href="index.html" class="brand-logo">
                <img src="/img/svg/brand-logo.svg" alt="">
            </a>
            <div class="nav-list">
                <ul>
                    <li class="list-item">
                        <a href="stories.html">STORIES</a>
                    </li>
                    <li class="list-item">
                        <a href="features.html">FEATURES</a>
                    </li>
                    <li class="list-item">
                        <a href="pricing.html">PRICING</a>
                    </li>
                </ul>
            </div>
            <div class="nav-link">
                <a href="#" class="button-1">
                    <span>GET AN INVITE</span>
                </a>
            </div>
            <div class="mobile-toggle">
                <div class="open-toggle">
                    <svg width="20" height="6" viewBox="0 0 20 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="1" fill="black"/>
                        <rect y="5" width="20" height="1" fill="black"/>
                    </svg>                        
                </div>
                <div class="close-toggle">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group 2">
                        <path id="Combined Shape" fill-rule="evenodd" clip-rule="evenodd" d="M7.99982 6.79271L1.2823 0.0751953L0.575195 0.782302L7.29271 7.49982L0.575195 14.2173L1.2823 14.9244L7.99982 8.20692L14.7173 14.9244L15.4244 14.2173L8.70692 7.49982L15.4244 0.782302L14.7173 0.0751953L7.99982 6.79271Z" fill="black"/>
                        </g>
                    </svg>                        
                </div>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-container">
                <div class="menu-list">
                    <div class="list-item">
                        <a href="stories.html">STORIES</a>
                    </div>
                    <div class="list-item">
                        <a href="features.html">FEATURES</a>
                    </div>
                    <div class="list-item">
                        <a href="pricing.html">PRICING</a>
                    </div>
                </div>
                <a href="#" class="button-1">
                    <span>GET AN INVITE</span>
                </a>                        
            </div>
        </div>
    </div>
</header>