<a href="#" class="button-1">
    <span>text</span>
</a>

<a href="#" class="button-2">
    <div class="button-text">
        text
    </div>
    <div class="icon">
        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 7H41.864" stroke="black"/>
            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="black"/>
        </svg>            
    </div>
</a>
<a href="#" class="button-3">
    <span>text</span>
</a>

<a href="#" class="button-4">
    <div class="button-text">
        text
    </div>
    <div class="icon">
        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 7H41.864" stroke="white"/>
            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
        </svg>            
    </div>
</a>