{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div class="main">
    <div class="hero features homepage-block">
        <div class="text-section backg-black">
            <div class="text animate__zoomInLeft">
                <h1 class="title">
                    FEATURES
                </h1>
                <div class="desc">
                    We make sure all of our features are designed to be loved by every aspiring and even professional photograpers who wanted to share their stories.
                </div>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/features-img.jpg" alt="">
        </div>
    </div>
    <div class="advantage features">
        <div class="advantage-wrap">
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/responsive.svg" alt="">
                </div>
                <div class="title">100% Responsive</div>
                <div class="desc">No matter which the device you’re on, our site is fully responsive and stories look beautiful on any screen.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/endless.svg" alt="">
                </div>
                <div class="title">No Photo Upload Limit</div>
                <div class="desc">Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/avaliableToEmbed.svg" alt="">
                </div>
                <div class="title">Available to Embed</div>
                <div class="desc">Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/custom-domain.svg" alt="">
                </div>
                <div class="title">Custom Domain</div>
                <div class="desc">With Photosnap subscriptions you can host your stories on your own domain. You can also remove our branding!</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/exposure.svg" alt="">
                </div>
                <div class="title">Boost Your Exposure</div>
                <div class="desc">Users that viewed your story or gallery can easily get notifed of new and featured stories with our built in mailing list.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/drop.svg" alt="">
                </div>
                <div class="title">Drag & Drop Image</div>
                <div class="desc">Easily drag and drop your image and get beautiful shots everytime. No over the top tooling to add friction to creating stories.</div>
            </div>
        </div>
    </div>
    <div class="features-block">
        <div class="container">
            <div class="d-flex align-items-center w-100">
                <div class="text">
                    <div class="title">WE'RE IN BETA.
                        GET YOUR INVITE TODAY!</div>
                </div>
                <div class="link">
                    <a href="#" class="button-4">
                        <div class="button-text">
                            GET AN INVITE
                        </div>
                        <div class="icon">
                            <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H41.864" stroke="white"/>
                                <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                            </svg>            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 