{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div class="main">
    <div class="hero homepage-block">
        <div class="text-section backg-black">
            <div class="text animate__zoomInLeft">
                <h1 class="title">
                    Create and share your photo stories. 
                </h1>
                <div class="desc">
                    Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell stories and connect with others.
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        GET AN INVITE
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/hero-img.jpg" alt="">
        </div>
    </div>
    <div class="homepage-block">
        <div class="text-section backg-white">
            <div class="text">
                <h1 class="title">
                    BEAUTIFUL STORIES <br> EVERY TIME
                </h1>
                <div class="desc">
                    We provide design templates to ensure your stories look terrific. Easily add photos, text, embed maps and media from other networks. Then share your story with everyone.
                </div>
                <a href="#" class="button-2">
                    <div class="button-text">
                        VIEW THE STORIES
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="black"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="black"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/block-img.jpg" alt="">
        </div>
    </div>
    <div class="homepage-block">
        <div class="text-section backg-white">
            <div class="text">
                <h1 class="title">
                    DESIGNED FOR EVERYONE
                </h1>
                <div class="desc">
                    Photosnap can help you create stories that resonate with your audience.  Our tool is designed for photographers of all levels, brands, businesses you name it. 
                </div>
                <a href="#" class="button-2">
                    <div class="button-text">
                        VIEW THE STORIES
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="black"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="black"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/block-img-2.jpg" alt="">
        </div>
    </div>
    <div class="block-card-wrap">
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-1.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="title">The Mountains</div>
                    <div class="subtitle">by John Appleseed</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-2.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="title">Sunset Cityscapes</div>
                    <div class="subtitle">by Benjamin Cruz</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-3.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="title">18 Days Voyage</div>
                    <div class="subtitle">by Alexei Borodin</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-4.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="title">Architecturals</div>
                    <div class="subtitle">by Samantha Brooke</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="advantage">
        <div class="advantage-wrap">
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/responsive.svg" alt="">
                </div>
                <div class="title">100% Responsive</div>
                <div class="desc">No matter which the device you’re on, our site is fully responsive and stories look beautiful on any screen.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/endless.svg" alt="">
                </div>
                <div class="title">No Photo Upload Limit</div>
                <div class="desc">Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in one go.</div>
            </div>
            <div class="adv-item">
                <div class="icon">
                    <img src="/img/svg/avaliableToEmbed.svg" alt="">
                </div>
                <div class="title">Available to Embed</div>
                <div class="desc">Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos, Google Maps, and more.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 