{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div class="main">
    <div class="hero features homepage-block">
        <div class="text-section backg-black">
            <div class="text animate__zoomInLeft">
                <h1 class="title">
                    PRICING
                </h1>
                <div class="desc">
                    Create a your stories, Photosnap is a platform for photographers and visual storytellers. It’s the simple way to create and share your photos.
                </div>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/pricing-hero.jpg" alt="">
        </div>
    </div>
    <div class="pricing-card-block">
        <div class="container">
            <div class="toggle-section">
                <span>Monthly</span>
                <div class="toggle active">
                    <div class="toggle-ball"></div>
                    <div class="toggle-ball"></div>
                </div>
                <span>Yearly</span>
            </div>
            <div class="card-wrap">
                <div class="pricing-card">
                    <div class="pricing-card-d-flex">
                        <div class="title">Basic</div>
                        <div class="desc">
                            Includes basic usage of our platform. Recommended for new and aspiring photographers.
                        </div>
                        <div class="price-section">
                            <div class="price">
                                <div class="total-price">$19.00</div>
                                <div class="total-price">$190.00</div>
                            </div>
                            <div class="price-desc">per month</div>
                        </div>
                        <a href="#" class="button-1">
                            <span>PICK PLAN</span>
                        </a>
                    </div>
                </div>
                <div class="pricing-card black">
                    <div class="pricing-card-d-flex">
                        <div class="title">Basic</div>
                        <div class="desc">
                            Includes basic usage of our platform. Recommended for new and aspiring photographers.
                        </div>
                        <div class="price-section">
                            <div class="price">
                                <div class="total-price">$39.00</div>
                                <div class="total-price">$390.00</div>
                            </div>
                            <div class="price-desc">per month</div>
                        </div>
                        <a href="#" class="button-3">
                            <span>PICK PLAN</span>
                        </a>
                    </div>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card-d-flex">
                        <div class="title">Business</div>
                        <div class="desc">
                            Additional features available such as more detailed metrics. Recommended for business owners.
                        </div>
                        <div class="price-section">
                            <div class="price">
                                <div class="total-price">$99.00</div>
                                <div class="total-price">$990.00</div>
                            </div>
                            <div class="price-desc">per month</div>
                        </div>
                        <a href="#" class="button-1">
                            <span>PICK PLAN</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="compare-table">
        <div class="title">COMPARE</div>
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="th">the features</div>
                    <div class="th">basıc</div>
                    <div class="th">pro</div>
                    <div class="th">busıness</div>
                </div>
            </div>
            <div class="tbody">
                <div class="tr">
                    <div class="td">UNLIMITED STORY POSTING</div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">UNLIMITED PHOTO UPLOAD</div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">EMBEDDING CUSTOM CONTENT</div>
                    <div class="td">                           
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">CUSTOMIZE METADATA</div>
                    <div class="td">                           
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">ADVANCED METRICS</div>
                    <div class="td">                          
                    </div>
                    <div class="td">                          
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">PHOTO DOWNLOADS</div>
                    <div class="td">                           
                    </div>
                    <div class="td">                           
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">SEARCH ENGINE INDEXING</div>
                    <div class="td">                            
                    </div>
                    <div class="td">                            
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
                <div class="tr">
                    <div class="td">CUSTOM ANALYTICS</div>
                    <div class="td">                           
                    </div>
                    <div class="td">                           
                    </div>
                    <div class="td">
                        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path 5" d="M1 8.12351L5.62323 13L17 1" stroke="black" stroke-width="2"/>
                        </svg>                            
                    </div>
                </div>
            </div>
        </div>
        <div class="table-mobile">
            <div class="m-title">
                THE FEATURES
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        UNLIMITED STORY POSTING
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        UNLIMITED PHOTO UPLOAD
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        EMBEDDING CUSTOM CONTENT
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                              
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        CUSTOMIZE METADATA
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                              
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        ADVANCED METRICS
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                               
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">                               
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        PHOTO DOWNLOADS
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                              
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">                               
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        SEARCH ENGINE INDEXING
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                              
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">                               
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-block">
                <div class="thead">
                    <div class="title">
                        CUSTOM ANALYTICS
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr">
                        <div class="title">
                            BASIC
                        </div>
                        <div class="value">                               
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            PRO
                        </div>
                        <div class="value">                             
                        </div>
                    </div>
                    <div class="tr">
                        <div class="title">
                            BUSINESS
                        </div>
                        <div class="value">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.12351L4.62323 13L16 1" stroke="black" stroke-width="2"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-block">
        <div class="container">
            <div class="d-flex align-items-center w-100">
                <div class="text">
                    <div class="title">WE'RE IN BETA.
                        GET YOUR INVITE TODAY!</div>
                </div>
                <div class="link">
                    <a href="#" class="button-4">
                        <div class="button-text">
                            GET AN INVITE
                        </div>
                        <div class="icon">
                            <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H41.864" stroke="white"/>
                                <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                            </svg>            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 