{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<div class="main">
    <div class="hero stories homepage-block">
        <div class="text-section backg-black">
            <div class="text animate__zoomInLeft">
                <div class="top-title">LAST MONTH’S FEATURED STORY</div>
                <h1 class="title">
                    HAZY FULL <br> MOON OF <br> APPALACHIA
                </h1>
                <div class="desc-info">
                    <div class="date">March 2nd 2020</div>
                    <div class="by">by John Appleseed</div>
                </div>
                <div class="desc">
                    The dissected plateau area, while not actually made up of geological mountains, is popularly called "mountains," especially in eastern Kentucky and West Virginia, and while the ridges are not high, the terrain is extremely rugged.
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ THE STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
                <div class="gradient">
                </div>
            </div>
        </div>
        <div class="img">
            <img src="/img/general/stories-hero.jpg" alt="">
        </div>
        
    </div>
    <div class="block-card-wrap">
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-1.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 16th 2020</div>
                    <div class="title">The Mountains</div>
                    <div class="subtitle">by John Appleseed</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-2.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 14th 2020</div>
                    <div class="title">Sunset Cityscapes</div>
                    <div class="subtitle">by Benjamin Cruz</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-3.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 11th 2020</div>
                    <div class="title">18 Days Voyage</div>
                    <div class="subtitle">by Alexei Borodin</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-4.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 9th 2020</div>
                    <div class="title">Architecturals</div>
                    <div class="subtitle">by Samantha Brooke</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="block-card-wrap">
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-5.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 7th 2020</div>
                    <div class="title">World Tour 2019</div>
                    <div class="subtitle">by Timothy Wagner</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-6.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">April 3th 2020</div>
                    <div class="title">Unforeseen Corners</div>
                    <div class="subtitle">by William Malcolm</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-7.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 29th 2020</div>
                    <div class="title">King on Africa: Part II</div>
                    <div class="subtitle">by Tim Hillenburg</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-8.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 21st 2020</div>
                    <div class="title">The Trip to Nowhere</div>
                    <div class="subtitle">by Felicia Rourke</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="block-card-wrap">
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-9.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 19th 2020</div>
                    <div class="title">Rage of The Sea</div>
                    <div class="subtitle">by Mohammed Abdul</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-10.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 16th 2020</div>
                    <div class="title">Running Free</div>
                    <div class="subtitle">by Michelle</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-12.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 11th 2020</div>
                    <div class="title">Behind the Waves</div>
                    <div class="subtitle">by Lamarr Wilson</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-11.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 9th 2020</div>
                    <div class="title">Calm Waters</div>
                    <div class="subtitle">by Samantha Brooke</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="block-card-wrap">
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-14.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 5th 2020</div>
                    <div class="title">The Milky Way</div>
                    <div class="subtitle">by Benjamin Cruz</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-13.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 4th 2020</div>
                    <div class="title">Night at The Dark Forest</div>
                    <div class="subtitle">by  Mohammed Abdul</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-15.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">March 1st 2020</div>
                    <div class="title">Somwarpet’s Beauty</div>
                    <div class="subtitle">by Michelle</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
        <div class="card-item">
            <div class="card-img">
                <img src="/img/general/card-img-16.png" alt="">
            </div>
            <div class="card-info">
                <div class="header">
                    <div class="date">February 25th 2020</div>
                    <div class="title">Land of Dreams</div>
                    <div class="subtitle">by William Malcolm</div>
                </div>
                <a href="#" class="button-4">
                    <div class="button-text">
                        READ STORY
                    </div>
                    <div class="icon">
                        <svg width="42" height="14" viewBox="0 0 42 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H41.864" stroke="white"/>
                            <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white"/>
                        </svg>            
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 
