.compare-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include xl{
        margin: 0 4rem;
        width: auto;
    }
    @include mobile{
        margin: 0 3rem;
    }
    .title{
        font-size: 4rem;
        line-height: 4.8rem;
        @include bold;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 5.6rem;
        @include mobile{
            display: none;
        }
    }
    .table{
        width: 100%;
        max-width: 73.1rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 16rem;
        @include mobile{
            display: none;
        }
        .th, .td{
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $black;
            @include bold;
            text-transform: uppercase;
            width: 100%;
        }
        .thead{
            width: 100%;
            border-bottom: .1rem solid $black;
            .tr{
                padding: 0 0rem 2.3rem 2.4rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .th{
                    &:nth-child(1){
                        width: 28.7rem;
                    }
                    &:nth-child(2){
                        width: 14rem;
                        text-align: center;
                    }
                    &:nth-child(3){
                        width: 14rem;
                        text-align: center;
                    }
                    &:nth-child(4){
                        width: 14rem;
                        text-align: center;
                    }
                }
            }
        }
        .tbody{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .tr{
                padding: 2.3rem 0rem 2.35rem 2.4rem;
                border-bottom: .1rem solid #DFDFDF;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                .td{
                    &:nth-child(1){
                        width: 28.7rem;
                    }
                    &:nth-child(2){
                        width: 14rem;
                        text-align: center;
                    }
                    &:nth-child(3){
                        width: 14rem;
                        text-align: center;
                    }
                    &:nth-child(4){
                        width: 14rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .table-mobile{
        width: 100%;
        margin: 6.4rem 0;
        display: none;
        @include mobile{
            display: block;
        }
        .title{
            display: block;
            margin: 0;
        }
        .m-title{
            font-size: 1.2rem ;
            line-height: 1.6rem;
            color:$black;
            @include bold;
            padding-bottom: 2.3rem;
            border-bottom: .1rem solid $black;
            letter-spacing: .2rem;
        }
        .table-block{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding-bottom: 2.4rem;
            border-bottom: .1rem solid #D8D8D8;
            .thead{
                width: 100%;
                margin-top: 2.3rem;
                margin-bottom: 1.6rem;
                .title{
                    font-size: 1.2rem ;
                    @include bold;
                    line-height: 1.6rem;
                    color:$black;
                    margin: 0;
                    letter-spacing: .2rem;
                }
            }
            .tbody{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                padding-right: 4.6rem;
                .tr{
                    max-width: calc(100% / 3);
                }
                .title{
                    font-size: 1rem ;
                    @include bold;
                    line-height: 1.3rem;
                    color:$black;
                    opacity: .5;
                    letter-spacing: .167rem;
                    margin-bottom: .8rem;
                }
            }
        }
    }
}